p.Encabezado {
    font-size: 12pt;
}
h1.Ttulo1 {
    text-align: justify;
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
    font-weight: bold;
}
h2.Ttulo2 {
    margin-top: 12pt;
    margin-bottom: 3pt;
    font-family: 'Cambria', 'serif';
    font-size: 14pt;
    font-style: italic;
    font-weight: bold;
}
h3.Ttulo3 {
    margin-top: 12pt;
    margin-bottom: 3pt;
    font-family: 'Cambria', 'serif';
    font-size: 13pt;
    font-weight: bold;
}
h4.Ttulo4 {
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
}
ul.List2 {
counter-reset: section21;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
ul.List3 {
counter-reset: section31;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
ul.List4 {
counter-reset: section41;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
ul.List5 {
counter-reset: section51;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
ul.List6 {
counter-reset: section61;
list-style:none;
padding-left: 40px;
margin-left: 0px;
}
p.Titulo {
    text-align: center;
    font-family: 'Verdana', 'sans-serif';
    font-size: 14pt;
    font-weight: bold;
}
p.Ttulo {
    text-align: center;
    font-family: 'Arial', 'sans-serif';
    font-size: 12pt;
    font-weight: bold;
}
span.Ttulo3Car {
    font-family: 'Cambria', 'serif';
    font-size: 13pt;
    font-weight: bold;
}
span.Ttulo5Car {
    font-family: 'Verdana', 'sans-serif';
    font-size: 13pt;
    font-style: italic;
    font-weight: bold;
}
span.Ttulo6Car {
    font-size: 11pt;
    font-weight: bold;
}
body {
    font-family: 'Times New Roman', 'serif';
}
.position-relative {
position:relative;
}
span { white-space: pre-wrap;
}
ul.List2 > li {
 position: relative;
}
ul.List2 > li:before {
counter-increment: section21;
content:"";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
    font-family: Wingdings;
}
ul.List2 > li:before:before {
width: 40px;
}
ul.List2 > li:before:before {
margin-right: 4px;
}
ul.List2 > li:before:before {
left: -44px;
}
ul.List2 > li:before:before {
left: -44px;
}
ul.List2 > li:before:before {
left: -44px;
}
ul.List2 > li:before:before {
left: -44px;
}
ul.List3 > li {
 position: relative;
}
ul.List3 > li:before {
counter-increment: section31;
content:"";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
    font-family: Wingdings;
}
ul.List3 > li:before:before {
width: 40px;
}
ul.List3 > li:before:before {
margin-right: 4px;
}
ul.List3 > li:before:before {
left: -44px;
}
ul.List3 > li:before:before {
left: -44px;
}
ul.List3 > li:before:before {
left: -44px;
}
ul.List3 > li:before:before {
left: -44px;
}
ul.List4 > li {
 position: relative;
}
ul.List4 > li:before {
counter-increment: section41;
content:"";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
    font-family: Wingdings;
}
ul.List4 > li:before:before {
width: 40px;
}
ul.List4 > li:before:before {
margin-right: 4px;
}
ul.List4 > li:before:before {
left: -44px;
}
ul.List4 > li:before:before {
left: -44px;
}
ul.List4 > li:before:before {
left: -44px;
}
ul.List4 > li:before:before {
left: -44px;
}
ul.List5 > li {
 position: relative;
}
ul.List5 > li:before {
counter-increment: section51;
content:"•";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
    font-family: Symbol;
}
ul.List5 > li:before:before {
width: 40px;
}
ul.List5 > li:before:before {
margin-right: 4px;
}
ul.List5 > li:before:before {
left: -44px;
}
ul.List5 > li:before:before {
left: -44px;
}
ul.List5 > li:before:before {
left: -44px;
}
ul.List5 > li:before:before {
left: -44px;
}
ul.List6 > li {
 position: relative;
}
ul.List6 > li:before {
counter-increment: section61;
content:"•";
text-align: right;
position: absolute;
left: -44px;
margin-right: 4px;
width: 40px;
overflow: hidden;
    font-family: Symbol;
}
ul.List6 > li:before:before {
width: 40px;
}
ul.List6 > li:before:before {
margin-right: 4px;
}
ul.List6 > li:before:before {
left: -44px;
}
ul.List6 > li:before:before {
left: -44px;
}
ul.List6 > li:before:before {
left: -44px;
}
ul.List6 > li:before:before {
left: -44px;
}